@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

// font-family: "Quicksand", serif;

$color-dark-brown: #261e1b;
$color-tan: #9b8063;
$color-beige: #f5f5dc;
$color-white: #ffffff;
$color-gray-brown: #383838;
$color-bone: #e7e1d5;
$button-hover: #ac9073;
$font-title: "Urbanist", serif;
$font-text: "Quicksand", serif;

// screen sizes min-width
$screen-cell-min: 320px;
$screen-tablet-min: 600px;
$screen-desktop-min: 1021px;
$screen-xl-min: 1440px;


// screen sizes max-width
$screen-cell-max: 599px;
$screen-tablet-max: 920px;
$screen-desktop-max: 1439px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  transition: 0.2s linear;
}

.infeite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 0.5rem;

  .linha-left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: fit-content;
    gap: 4px;

    .linha01 {
      height: 1px;
      width: 40px;
      background-color: $color-dark-brown;
      border-radius: 50%;
    }

    .linha02 {
      @extend .linha01;
      width: 50px;
    }
  }

  .linha-right {
    @extend .linha-left;
    align-items: flex-end;
  }

  img {
    height: 20px;
  }
}

#video-background {
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -1;
  height: 100%;
  width: 100%;

  video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
  }

  .mascara-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    pointer-events: none;
  }
}

.container-geral {
  margin-left: 16%;
}

header {
  position: fixed;
  background-color: $color-gray-brown;
  width: 16%;
  height: 100vh;

  .ham-menu {
    display: none;
  }

  @media (max-width: 1020px) {
    width: 20%;
  }

  @media (max-width: 900px) {
    width: 25%;
  }

  @media (ax-width: 900px) {
    width: 25%;
  }

}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-right: solid 1px #444444;
}

.links {
  height: 40%;
  width: 100%;
  margin: 0 0 1rem 0;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    li {
      border: 1px solid #444444;
      padding: 0.6rem;
      width: 100%;
      text-align: center;

      a {
        color: $color-white;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: "Urbanist", serif;
        font-weight: 700;
        border-radius: 10px;
        letter-spacing: 2px;
      }

      &:hover {
        border-right: 4px solid $color-tan;

        a {
          color: $color-tan;
        }
      }
    }
  }
}

.logo {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;

  img {
    height: 90%;
    background-color: var(--color-whitek-brown);
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 1.1rem;

  a {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 100vh;
  gap: 2rem;

  h1 {
    color: $color-beige;
    font-family: "Urbanist", serif;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
  }

  img {
    height: 320px;
  }
}

#historia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  background-color: $color-bone;
  flex-wrap: wrap;
  height: fit-content;

  figure {
    width: 50%;

    img {
      width: 100%;
    }
  }

  article {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.6rem;

    h2 {
      font-size: 2.4rem;
      color: $color-dark-brown;
      font-family: "Urbanist", serif;
      text-transform: capitalize;
    }

    p {
      font-family: "Quicksand", serif;
      color: #444444;
      width: 80%;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem 0;
  gap: 0.6rem;

  h2 {
    font-size: 2.6rem;
    color: $color-dark-brown;
    font-family: "Urbanist", serif;
    text-transform: capitalize;
    font-weight: 800;
    margin-bottom: -0.3rem;
  }

  .frase {
    font-family: "Quicksand", serif;
    color: #444444;
    width: 50%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.container-menu {
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  padding: 0 4rem;

  .container-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    img {
      height: 100px;
      border-radius: 50%;
    }
  
    .item-descricao {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 2px;
  
      h3 {
        display: flex;
        align-items: end;
        justify-content: space-between;
        font-size: 16px;
        margin: 0;
        gap: 10px;
        width: 100%;
        font-family: "Quicksand", serif;
  
        .name {
          white-space: nowrap;
        }
  
        .pontinhado {
          flex-grow: 1;
          border-bottom: 2px dotted #333333;
          height: 1px;
          margin-bottom: 3px;
        }
  
        .price {
          color: #c58a3b;
          font-weight: bold;
          white-space: nowrap;
        }
      }
  
      .descricao {
        font-size: 14px;
        flex-grow: 1;
        font-family: "Quicksand", serif;
        font-weight: 500;
        color: $color-gray-brown;
      }
    }
  }
}

#banner {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("../Assents/img/banner.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-white;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.2);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 2;
    margin: 0 2rem;

    h2 {
      width: 80%;
      text-align: right;
      font-family: $font-title;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.4;
      letter-spacing: 0.5px;
    }
  }
}

#reserva {
  background-color: $color-bone;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0 4rem;
  gap: 0.5rem;
  overflow: hidden;
  position: relative;

  h2 {
    font-size: 2.6rem;
    color: $color-dark-brown;
    font-family: "Urbanist", serif;
    font-weight: 800;
    margin-bottom: -0.3rem;
  }

  aside {
    font-family: "Quicksand", serif;
    color: #444444;
    width: 50%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
  }

  .container-form {
    width: 100%;
    max-width: 700px;

    form {
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .grupo-input {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 70%;

      input,
      select {
        background: none;
        padding: 10px;
        border: 1px solid $color-dark-brown;
        border-radius: 2px;
        font-size: 14px;

        ::placeholder {
          color: #261e1b;
          opacity: 1;
        }
      }

      input::placeholder {
        color: #261e1b;
        opacity: 1;
        font-family: "Urbanist", serif;
        font-weight: 600;
      }

      option {
        background-color: $color-bone;
        color: $color-dark-brown;
      }
    }

    textarea {
      background: none;
      padding: 10px;
      border: 1px solid $color-dark-brown;
      border-radius: 2px;
      min-height: 100px;
      width: 70%;
      resize: none;

      &::placeholder {
        color: #261e1b;
        opacity: 1;
        font-family: "Urbanist", serif;
        font-weight: 600;
      }
    }

    button {
      background: $color-tan;
      color: white;
      font-family: "Urbanist", serif;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 800;
      padding: 12px 15px;
      width: fit-content;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 1rem;

      &:hover {
        background: $button-hover;
      }
    }
  }

  .mancha-de-cafe01 {
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 0;

    img {
      height: 310px;
    }
  }

  .mancha-de-cafe02 {
    position: absolute;
    bottom: -12rem;
    left: -4rem;
    z-index: 0;
    overflow: hidden;

    img {
      height: 440px;
    }
  }
}

#avaliacao-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
  margin: 0 0 2rem;
  gap: 0.4rem;

  h2 {
    font-size: 2.6rem;
    color: $color-dark-brown;
    font-family: "Urbanist", serif;
    font-weight: 800;
  }

  aside {
    font-family: "Quicksand", serif;
    color: #444444;
    width: 50%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  .testemunha-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    overflow: hidden;
    position: relative;

    .nav-botao {
      position: relative;
      background-color: $color-tan;
      border-radius: 3px;
      cursor: pointer;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;

      span {
        font-size: 20px;
        color: $color-dark-brown;
      }

      &:hover {
        background-color: $button-hover;
      }
    }

    .button-cell {
      display: none;

      .nav-botao-cell {
        display: none;
        position: relative;
        background-color: $color-tan;
        border-radius: 3px;
        cursor: pointer;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        span {
          font-size: 20px;
          color: $color-dark-brown;
        }

        &:hover {
          background-color: $button-hover;
        }

      }
    }

    .testemunhas {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      overflow: hidden;
      width: 75%;
      transition: transform 0.5s ease-in-out;

      .testemunha {
        // min-width: 40%;
        width: 200px;
        flex-shrink: 0;
        position: relative;
        flex: 1;
        padding: 20px;
        background: $color-bone;
        border-radius: 20px;
        text-align: left;
        z-index: -5;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

        p {
          font-size: 14px;
          color: $color-dark-brown;
          font-family: "Quicksand", serif;
          font-weight: 600;
        }

        strong {
          display: block;
          margin-top: 10px;
          color: black;
          font-size: 13px;
          font-family: "Urbanist", serif;
        }

        img {
          position: absolute;
          right: 20px;
          bottom: 10px;
          z-index: 1;
          opacity: 0.1;
        }
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-gray-brown;


  .conteudo-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border-top: #444444 solid 2px;
    padding: 20px 0;
    margin-top: 4rem;

    .direitos {
      font-size: .8rem;
      font-weight: 700;
      letter-spacing: 1px;
      color: $color-white;
      font-family: "Urbanist", serif;
    }

    figure {
      width: 30%;

      img {
        height: 100px;
      }
    }

    .icons-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      a {
        background-color: #444444;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid $color-tan;
      }
    }
  }
}

@media (min-width: $screen-cell-min) and (max-width: $screen-cell-max) {
  .container-geral {
    margin-left: 0;
  }

  header {
    width: 100%;
    height: 50px;
    z-index: 1000;

    .ham-menu {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.3rem;
      transition: 2s ease-in-out;
      top: 1rem;
      left: 0;
      margin: 0 20px;

      span {
        width: 20px;
        background-color: $color-white;
        height: 2px;
      }

      &:active {
        span {
          width: 5px;
        }
      }
    }

    .container-header {
      display: none;
      align-items: center;
      padding: 4rem 0;
      background-color: $color-gray-brown;
      height: 100vh;
      width: 100%;

      .links {
        width: 100%;
        height: 100vh;
      }

      .logo {
        display: block;
        margin-top: 2rem;

        img {
          height: 200px;
        }
      }

      .icons {
        width: fit-content;
        margin-bottom: 2rem;
      }
    }
  }

  #video-background {
    display: none;
  }

  #home {
    background-color: $color-dark-brown;
    height: 70vh;

    h1 {
      font-size: 1.2rem;
      font-weight: 700;
      width: 90%;
    }

    img {
      height: 300px;
    }
  }

  #historia {
    gap: 1rem;

    figure {
      width: 100%;
    }

    article {
      width: 100%;
      padding-bottom: 2rem;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }

  #menu {
    margin: 2rem 0;

    h2 {
      font-size: 2rem;
    }

    .frase {
      width: 80%;
      font-size: 0.8rem;
    }

    .container-menu {
      grid-template-columns: 1fr;
      gap: 1.2rem;
      padding: 0 2rem;

      .descricao {
        font-size: 12px;
      }
    }
  }

  #banner {
    height: 200px;
    width: 100%;
    background: url("../Assents/img/banner.png") no-repeat center left/cover;

    .content {
      h2 {
        text-align: right;
        width: 80%;
        font-size: 1.2rem;
      }
    }
  }

  #reserva {
    padding: 2rem 0 2rem;

    .mancha-de-cafe01 {
      top: 5rem;
      right: -4rem;

      img {
        height: 150px;
      }
    }

    .mancha-de-cafe02 {
      bottom: -8.2rem;
      left: -3rem;

      img {
        height: 300px;
      }
    }

    h2 {
      font-size: 2rem;
    }

    aside {
      width: 70%;
      font-size: 0.8rem;
      margin-bottom: 2rem;
    }

    .container-form {
      form {
        padding: 10px;
      }

      .grupo-input {
        width: 80%;

        input,
        select {
          padding: 8px;
          font-size: 12px;
          width: 100%;
        }
      }

      textarea {
        padding: 8px;
        font-size: 12px;
        width: 80%;
      }

      button {
        font-size: 0.8rem;
        padding: 10px 12px;
      }
    }
  }

  #avaliacao-container {
    padding: 1.5rem 0;
    gap: 0.3rem;
    margin: 0;

    h2 {
      font-size: 2rem;
    }

    aside {
      width: 80%;
      font-size: 0.8rem;
      margin-bottom: 2rem;
    }

    .testemunha-slide {
      flex-direction: column;
      gap: 1rem;
      width: 90%;
      margin: 0;

      .nav-botao {
        display: none;
      }

      .button-cell {
        display: flex;
        gap: 1rem;

        .nav-botao-cell {
          padding: 6px 12px;

          span {
            font-size: 16px;
          }
        }
      }

      .testemunhas {
        width: 100%;
        gap: 10px;
        padding: 0 10px;

        .testemunha {
          width: 100%;
          padding: 15px;
          border-radius: 15px;

          p {
            font-size: 12px;
            font-weight: 700;
          }

          strong {
            font-size: 12px;
            font-weight: 900;
            text-decoration: underline;
          }

          img {
            right: 10px;
            bottom: 10px;
            width: 45%;
          }
        }
      }
    }
  }

  footer {
    width: 100%;

    .conteudo-footer {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 2rem;
    }

  }

}

@media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
  .container-geral{
   margin: 0;
  }

  #video-background {
    video{
      left: -20rem;
    }
  }

  header {
    width: 100%;
    height: 50px;
    z-index: 1000;

    .ham-menu {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.3rem;
      transition: 2s ease-in-out;
      top: 1rem;
      left: 0;
      margin: 0 20px;

      span {
        width: 20px;
        background-color: $color-white;
        height: 2px;
      }

      &:active {
        span {
          width: 5px;
        }
      }
    }

    .container-header {
      display: none;
      align-items: center;
      padding: 4rem 0;
      background-color: $color-gray-brown;
      height: 100vh;
      width: 100%;

      .links {
        width: 100%;
        height: 100vh;
      }

      .logo {
        display: block;
        margin-top: 2rem;

        img {
          height: 200px;
        }
      }

      .icons {
        width: fit-content;
        margin-bottom: 2rem;
      }
    }
  }

  #home{
    h1{
      font-size: 1.6rem;
    }

    img{
      height: 50%;
    }
  }

  #menu {
    margin: 2rem 0;

    h2 {
      font-size: 2.2rem;
    }

    .frase {
      width: 80%;
      font-size: 0.9rem;
    }

    .container-menu {
      margin: 0;
      padding: 20px;
      width: 100%;
      .descricao {
        font-size: 12px;
      }
    }
  }

  #banner {
    height: 200px;
    width: 100%;
    background: url("../Assents/img/banner.png") no-repeat center left/cover;

    .content {
      h2 {
        text-align: right;
        width: 80%;
        font-size: 1.5rem;
      }
    }
  }

  #reserva {
    padding: 2rem 0 2rem;

    .mancha-de-cafe01 {
      top: 1rem;
      right: -4rem;

      img {
        height: 200px;
      }
    }

    .mancha-de-cafe02 {
      bottom: -8.2rem;
      left: -3rem;

      img {
        height: 300px;
      }
    }

    h2 {
      font-size: 2rem;
    }

    aside {
      width: 70%;
      font-size: 0.8rem;
      margin-bottom: 2rem;
    }

    .container-form {
      form {
        padding: 10px;
      }

      .grupo-input {
        width: 80%;

        input,
        select {
          padding: 8px;
          font-size: 12px;
          width: 100%;
        }
      }

      textarea {
        padding: 8px;
        font-size: 12px;
        width: 80%;
      }

      button {
        font-size: 0.8rem;
        padding: 10px 12px;
      }
    }
  }
}
