@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  transition: 0.2s linear;
}

.infeite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 0.5rem;
}
.infeite .linha-left, .infeite .linha-right {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 4px;
}
.infeite .linha-left .linha01, .infeite .linha-right .linha01, .infeite .linha-left .linha02, .infeite .linha-right .linha02 {
  height: 1px;
  width: 40px;
  background-color: #261e1b;
  border-radius: 50%;
}
.infeite .linha-left .linha02, .infeite .linha-right .linha02 {
  width: 50px;
}
.infeite .linha-right {
  align-items: flex-end;
}
.infeite img {
  height: 20px;
}

#video-background {
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -1;
  height: 100%;
  width: 100%;
}
#video-background video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
#video-background .mascara-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(109deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  pointer-events: none;
}

.container-geral {
  margin-left: 16%;
}

header {
  position: fixed;
  background-color: #383838;
  width: 16%;
  height: 100vh;
}
header .ham-menu {
  display: none;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.links {
  height: 40%;
  width: 100%;
  margin: 0 0 1rem 0;
}
.links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.links ul li {
  border: 1px solid #444444;
  padding: 0.6rem;
  width: 100%;
  text-align: center;
}
.links ul li a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Urbanist", serif;
  font-weight: 700;
  border-radius: 10px;
  letter-spacing: 2px;
}
.links ul li:hover {
  border-right: 4px solid #9b8063;
}
.links ul li:hover a {
  color: #9b8063;
}

.logo {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}
.logo img {
  height: 90%;
  background-color: var(--color-whitek-brown);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 1.1rem;
}
.icons a {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444444;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 100vh;
  gap: 2rem;
}
#home h1 {
  color: #f5f5dc;
  font-family: "Urbanist", serif;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}
#home img {
  height: 320px;
}

#historia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e7e1d5;
  flex-wrap: wrap;
}
#historia figure {
  width: 50%;
}
#historia figure img {
  width: 100%;
}
#historia article {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}
#historia article h2 {
  font-size: 2.4rem;
  color: #261e1b;
  font-family: "Urbanist", serif;
  text-transform: capitalize;
}
#historia article p {
  font-family: "Quicksand", serif;
  color: #444444;
  width: 80%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem 0;
  gap: 0.6rem;
}
#menu h2 {
  font-size: 2.6rem;
  color: #261e1b;
  font-family: "Urbanist", serif;
  text-transform: capitalize;
  font-weight: 800;
  margin-bottom: -0.3rem;
}
#menu .frase {
  font-family: "Quicksand", serif;
  color: #444444;
  width: 50%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
}

.container-menu {
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  padding: 0 4rem;
}

.container-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container-item img {
  height: 100px;
  border-radius: 50%;
}
.container-item .item-descricao {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}
.container-item .item-descricao h3 {
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 16px;
  margin: 0;
  gap: 10px;
  width: 100%;
  font-family: "Quicksand", serif;
}
.container-item .item-descricao h3 .name {
  white-space: nowrap;
}
.container-item .item-descricao h3 .pontinhado {
  flex-grow: 1;
  border-bottom: 2px dotted #333333;
  height: 1px;
  margin-bottom: 3px;
}
.container-item .item-descricao h3 .price {
  color: #c58a3b;
  font-weight: bold;
  white-space: nowrap;
}
.container-item .item-descricao .descricao {
  font-size: 14px;
  flex-grow: 1;
  font-family: "Quicksand", serif;
  font-weight: 500;
  color: #383838;
}

#banner {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("../Assents/img/banner.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
#banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.2);
}
#banner .content {
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 2;
  margin: 0 2rem;
}
#banner .content h2 {
  width: 70%;
  font-family: "Urbanist", serif;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

#reserva {
  background-color: #e7e1d5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0 4rem;
  gap: 0.5rem;
  overflow: hidden;
  position: relative;
}
#reserva h2 {
  font-size: 2.6rem;
  color: #261e1b;
  font-family: "Urbanist", serif;
  font-weight: 800;
  margin-bottom: -0.3rem;
}
#reserva aside {
  font-family: "Quicksand", serif;
  color: #444444;
  width: 50%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}
#reserva .container-form {
  width: 100%;
  max-width: 700px;
}
#reserva .container-form form {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#reserva .container-form .grupo-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 70%;
}
#reserva .container-form .grupo-input input,
#reserva .container-form .grupo-input select {
  background: none;
  padding: 10px;
  border: 1px solid #261e1b;
  border-radius: 2px;
  font-size: 14px;
}
#reserva .container-form .grupo-input input ::-moz-placeholder, #reserva .container-form .grupo-input select ::-moz-placeholder {
  color: #261e1b;
  opacity: 1;
}
#reserva .container-form .grupo-input input ::placeholder,
#reserva .container-form .grupo-input select ::placeholder {
  color: #261e1b;
  opacity: 1;
}
#reserva .container-form .grupo-input input::-moz-placeholder {
  color: #261e1b;
  opacity: 1;
  font-family: "Urbanist", serif;
  font-weight: 600;
}
#reserva .container-form .grupo-input input::placeholder {
  color: #261e1b;
  opacity: 1;
  font-family: "Urbanist", serif;
  font-weight: 600;
}
#reserva .container-form .grupo-input option {
  background-color: #e7e1d5;
  color: #261e1b;
}
#reserva .container-form textarea {
  background: none;
  padding: 10px;
  border: 1px solid #261e1b;
  border-radius: 2px;
  min-height: 100px;
  width: 70%;
  resize: none;
}
#reserva .container-form textarea::-moz-placeholder {
  color: #261e1b;
  opacity: 1;
  font-family: "Urbanist", serif;
  font-weight: 600;
}
#reserva .container-form textarea::placeholder {
  color: #261e1b;
  opacity: 1;
  font-family: "Urbanist", serif;
  font-weight: 600;
}
#reserva .container-form button {
  background: #9b8063;
  color: white;
  font-family: "Urbanist", serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 800;
  padding: 12px 15px;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1rem;
}
#reserva .container-form button:hover {
  background: #ac9073;
}
#reserva .mancha-de-cafe01 {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 0;
}
#reserva .mancha-de-cafe01 img {
  height: 310px;
}
#reserva .mancha-de-cafe02 {
  position: absolute;
  bottom: -12rem;
  left: -4rem;
  z-index: 0;
  overflow: hidden;
}
#reserva .mancha-de-cafe02 img {
  height: 440px;
}

#feedback-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin: 0 0 2rem;
  gap: 0.4rem;
}
#feedback-container h2 {
  font-size: 2.6rem;
  color: #261e1b;
  font-family: "Urbanist", serif;
  font-weight: 800;
}
#feedback-container aside {
  font-family: "Quicksand", serif;
  color: #444444;
  width: 50%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
#feedback-container .testemunha-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#feedback-container .testemunha-slide .nav-botao {
  background: #ac9073;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
#feedback-container .testemunha-slide .nav-botao span {
  font-size: 20px;
  color: #261e1b;
}
#feedback-container .testemunha-slide .testemunhas {
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 70%;
}
#feedback-container .testemunha-slide .testemunhas .testemunha {
  position: relative;
  flex: 1;
  padding: 20px;
  background: #e7e1d5;
  border-radius: 20px;
  text-align: left;
}
#feedback-container .testemunha-slide .testemunhas .testemunha p {
  font-size: 14px;
  color: #261e1b;
  font-family: "Quicksand", serif;
  font-weight: 600;
}
#feedback-container .testemunha-slide .testemunhas .testemunha strong {
  display: block;
  margin-top: 10px;
  color: black;
  font-size: 13px;
  font-family: "Urbanist", serif;
}
#feedback-container .testemunha-slide .testemunhas .testemunha img {
  position: absolute;
  right: 20px;
  bottom: 10px;
  z-index: 1;
  opacity: 0.1;
}

.imagens {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.imagens figure {
  height: 100%;
}
.imagens figure img {
  height: 200px;
}

@media (min-width: 320px) and (max-width: 549px) {
  .container-geral {
    margin-left: 0;
  }
  header {
    width: 100%;
    height: 50px;
  }
  header .ham-menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
    transition: 2s ease-in-out;
    top: 1rem;
    left: 0;
    margin: 0 20px;
  }
  header .ham-menu span {
    width: 20px;
    background-color: #ffffff;
    height: 2px;
  }
  header .ham-menu:active span {
    width: 5px;
  }
  header .container-header {
    display: none;
    align-items: center;
    padding: 4rem 0;
    background-color: #383838;
    height: 100vh;
  }
  header .container-header .links {
    width: 100%;
    height: 100vh;
  }
  header .container-header .logo {
    display: block;
    margin-top: 2rem;
  }
  header .container-header .logo img {
    height: 200px;
  }
  header .container-header .icons {
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 2rem;
  }
  #video-background {
    display: none;
  }
  #home {
    background-color: #261e1b;
    height: 70vh;
  }
  #home h1 {
    font-size: 1.2rem;
    font-weight: 700;
    width: 90%;
  }
  #home img {
    height: 300px;
  }
  #historia {
    gap: 1rem;
  }
  #historia figure {
    width: 100%;
  }
  #historia article {
    width: 100%;
    padding-bottom: 2rem;
  }
  #historia article h2 {
    font-size: 2rem;
  }
  #historia article p {
    font-size: 1.1rem;
  }
  #menu {
    margin: 2rem 0;
  }
  #menu h2 {
    font-size: 2rem;
  }
  #menu .frase {
    width: 80%;
    font-size: 0.8rem;
  }
  #menu .container-menu {
    grid-template-columns: 1fr;
    gap: 1.2rem;
    padding: 0 2rem;
  }
  #menu .container-menu .descricao {
    font-size: 12px;
  }
  #banner {
    height: 200px;
    width: 100%;
    background: url("../Assents/img/banner.png") no-repeat center left/cover;
  }
  #banner .content h2 {
    text-align: right;
    width: 80%;
    font-size: 1.2rem;
  }
  #reserva {
    padding: 2rem 0 2rem;
  }
  #reserva .mancha-de-cafe01 {
    top: 5rem;
    right: -4rem;
  }
  #reserva .mancha-de-cafe01 img {
    height: 150px;
  }
  #reserva .mancha-de-cafe02 {
    bottom: -8.2rem;
    left: -3rem;
  }
  #reserva .mancha-de-cafe02 img {
    height: 300px;
  }
  #reserva h2 {
    font-size: 2rem;
  }
  #reserva aside {
    width: 70%;
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }
  #reserva .container-form form {
    padding: 10px;
  }
  #reserva .container-form .grupo-input {
    width: 80%;
  }
  #reserva .container-form .grupo-input input,
  #reserva .container-form .grupo-input select {
    padding: 8px;
    font-size: 12px;
    width: 100%;
  }
  #reserva .container-form textarea {
    padding: 8px;
    font-size: 12px;
    width: 80%;
  }
  #reserva .container-form button {
    font-size: 0.8rem;
    padding: 10px 12px;
  }
}/*# sourceMappingURL=style.css.map */